<!DOCTYPE html>
<html>
<head>

  <title>OkClub</title>
<style>
	*{
		font-family: verdana;

	}
  body{
    background-color: #D8D8D8;
  }
	 .divc{
      background-color: #FFECC4;
      box-shadow: 5px 5px 0px #888888;
      border-radius: 3px;
      width: 200px;
      
    }
</style>
</head>
<body>

<%= yield %>

</body>
</html>
